.add-product-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.add-product-form {
  display: grid;
  gap: 10px;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f7f7f7;
}

.add-product-form label {
  font-weight: bold;
}

.add-product-form input[type='text'] {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.add-product-form button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: #4caf50;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.add-product-form button.signupbutton {
  background-color: #2196f3;
}

.custom-dropdown-container {
  position: relative;
  display: inline-block;
}

.custom-dropdown-select {
  width: 100%; 
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  appearance: none; 
}

.custom-dropdown-select::-ms-expand {
  display: none; 
}

.custom-dropdown-select option {
  padding: 8px;
}

.custom-dropdown-select:focus {
  outline: none;
  border-color: #888;
  box-shadow: 0 0 5px #888;
}

.custom-dropdown-select option:hover {
  background-color: #f5f5f5;
}
