.grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1.5rem;
    margin: 2rem 2rem 2rem 2rem;
}

.grid-item{
    background-color: #f5f5f5;
    text-align: center;
    background-color: whitesmoke;
    transition: all 0.2s ease-in-out;
    border: 1px solid rgba(128, 128, 128, 0.37);
}

.grid-item:hover{
    transform: scale(1.03);
}

.item-add-to-cart {
    width:50%;
    height: 50px;
    cursor: pointer;
    color: var(--aplared);
    border: 1px solid var(--aplared);
    background-color: transparent;
    transition: all 0.2s ease-in-out;
  }

  .item-add-to-cart:hover{
    background-color: var(--aplared);
    color:white;
    border-radius: 0.75rem;
    box-shadow: 5px 5px 10px 0px rgba(255, 142, 142, 0.408);
  }

  .item-out-of-stock {
    width:50%;
    height: 50px;
    background-color: var(--aplared);
    border: none;
    pointer-events: none;
    opacity: 0;
  }
  
  .cart-icon {
    color: white;
  }

.product-link{
    text-decoration: none;
}

.item-image{
    width: 85%;
    max-height: 300px;
    object-fit: fill;
}

.item-title{
    margin-top: 10px;
    font-size: 1.3rem;
    font-weight: bold;
    color: black;
}

.categories {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
  }
  
  .category {
    cursor: pointer;
    padding: 0.5rem 1rem;
    border: 1px solid var(--aplared);
    color: var(--aplared);
    border-radius: 7px;
    transition: all 0.3s ease-in-out;
    margin-left: 1rem;
  }

  .category:hover{
    background-color: var(--aplared);
    color: white;
    border-radius: 0.75rem;
  }
  
  .category.active {
    color: white;
    background-color: var(--aplared);
    border-radius: 15px;
    transform: scale(1.075);
  }
  .pagination{
    margin:2rem 2rem 2rem 2rem;
  }
  
  .ascdscbut{
    width:10%;
    height: 50px;
    cursor: pointer;
    color: var(--aplared);
    border: 1px solid var(--aplared);
    background-color: transparent;
    transition: all 0.2s ease-in-out;
    margin-left: 1rem;
    border-radius: 0.3rem;
  }

  .ascdscbut:hover{
    background-color: var(--aplared);
    color:white;
    box-shadow: 5px 5px 10px 0px rgba(255, 142, 142, 0.408);  
  }

  .ascdscbut.active {
    pointer-events: none;
    border-color: red;
    background-color: rgb(255, 226, 226);
    border-radius: 1rem;
  }
  