.item-dcprices{
  color: #e67e22;
  font-size: 28px;
  text-decoration: none;
}

.item-prices {
  text-decoration:line-through;
  color: black;
  font-size: 20px;

}

.productcontainer {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .product-details {
    display: flex;
  }
  
  .product-image {
    flex: 1;
    text-align: center;
  }
  
  .product-image img {
    max-width: 100%;
    height: 50%;
    max-height: 500px;
    border: 0.1px solid rgb(204, 204, 204);
  }
  
  .product-info {
    flex: 2;
    padding-left: 20px;
  }
  
  h2 {
    font-size: 24px;
  }
  
  h4 {
    font-size: 18px;
    margin-top: 10px;
  }
  
  p {
    margin-top: 10px;
    line-height: 1.5;
  }

  button {
    background-color: #f0c040;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  @media (max-width: 768px) {
    .product-details {
      flex-direction: column;
    }
  
    .product-image,
    .product-info {
      padding: 0;
    }
  
    .product-info {
      margin-top: 20px;
    }
  
    .item-prices {
      font-size: 24px;
    }
  
    button {
      width: 100%;
    }
  }
  
  .product-reviews {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .reviews-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  
.reviews-title {
  font-size: 24px;
  margin-bottom: 15px;
}

.review-div {
  background-color: #fff;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.review-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.review-user {
  font-size: 18px;
  font-weight: bold;
}

.review-rating {
  font-size: 16px;
  color: #f39c12;
}

.review-date {
  font-size: 14px;
  color: #999;
}

.review-card-body {
  margin-top: 10px;
}

.review-text {
  font-size: 16px;
}

.no-ratings {
  font-size: 18px;
  font-style: italic;
  color: #888;
}

.add-rating-button {
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  font-size: 14px;
  cursor: pointer;
}

.add-rating-button:hover {
  background-color: #2980b9;
}
