.item-dcprices{
  color: #e67e22;
  font-size: 28px;
  text-decoration: none;
}

.item-prices {
  text-decoration:line-through;
  color: black;
  font-size: 20px;

}

.productcontainer {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .product-details {
    display: flex;
  }
  
  .product-image {
    flex: 1;
    text-align: center;
  }
  
  .product-image img {
    max-width: 100%;
    height: 50%;
    max-height: 500px;
    border: 0.1px solid rgb(204, 204, 204);
  }
  
  .product-info {
    flex: 2;
    padding-left: 20px;
  }
  
  h2 {
    font-size: 24px;
  }
  
  h4 {
    font-size: 18px;
    margin-top: 10px;
  }
  
  p {
    margin-top: 10px;
    line-height: 1.5;
  }

  button {
    background-color: #f0c040;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  @media (max-width: 768px) {
    .product-details {
      flex-direction: column;
    }
  
    .product-image,
    .product-info {
      padding: 0;
    }
  
    .product-info {
      margin-top: 20px;
    }
  
    .item-prices {
      font-size: 24px;
    }
  
    button {
      width: 100%;
    }
  }
  