
@import url('https://fonts.googleapis.com/css?family=Google+Sans');

*{
  font-family: 'Google Sans';
}

:root {
  --aplared: rgb(255, 155, 155);
}

.navbar-toggler {
  transition: transform 0.5s ease;
}

.navbar-toggler.collapsed {
  transform: rotate(0deg);
}

.collapse.navbar-collapse {
  transition: max-height 0.8s ease, opacity 0.8s ease;
}

.dropdown-menu {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.8s ease, opacity 0.8s ease;
  padding: 0 !important;
}

.dropdown-menu.show {
  max-height: 500px;
  opacity: 1;
  padding: 0 !important;
}

.navbar-brand {
  margin-right: 3rem;
}

.nav-comp {
  transition: background-color 0.4s ease-in-out;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.nav-link{
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 0.2rem 2000rem 0.2rem 2rem;
  transition: all 0.25s ease-in-out;
}

.nav-link:hover {
  border: 1px solid var(--aplared);
  border-radius: 10px; 
}
.nav-bar-all {
  font-family: 'Google Sans', sans-serif;
  padding-top: 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 10px;
}

.nav-drops {
  margin-left: 0rem;
}

.pr-5{
  position: relative;
  margin-top: 0.5rem;
  margin-right: 2rem;
}

.nav-padding{
  padding-left: 4rem;
  padding-right: 4rem;
}

.categories .link-text {
  text-decoration: none;
}
