@import url('https://fonts.googleapis.com/css?family=Google+Sans');

:root {
  --aplared: rgb(255, 155, 155);
}

.header {
  display: flex;
  margin-top: 2.5rem;
  justify-content: center;
  background-color: rgb(255, 115, 115, 0);
  animation: slide-in 1s ease-in-out;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 100;
    transform: translateX(0%);
  }
}

@keyframes slide-in-left {
  from {
    opacity: 0;
    transform: translateX(-1000%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

.header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  animation: slide-in 1.2s ease-in-out;
}

.header li {
  opacity: 0;
  float: left;
  transform: translateX(100%);
  animation: slide-in-left 1s ease-in-out forwards;
}

.header li {
  transition: all 0.2s ease-in-out;
  display: inline-block;
  border-radius: 1rem;
  border: 1px transparent solid;
  color: #000;
  text-align: center;
  text-decoration: none;
  font-size: 1.1rem;
  cursor: pointer;
  margin: 1rem 0rem 0.5rem 0.3rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  text-shadow: 2px 2px 8px #00000054;
}

.header li:hover {
  border: 1px rgb(255, 115, 115) solid;
  transition: 0.34s ease-in-out;
}

.header li.active {
  transition: 0.4s ease-in-out;
  background-color: var(--aplared);
  transform: scale(1.1);
  border: 1px solid white;
}

#nav2 {
  display: inline;
  position: relative;
  animation: none;
  left: 74rem;
  bottom: 5.6rem;
}
#nav2 li{
  animation: none;
  opacity: 100;
  margin-left: 0px;
  padding-left: 0px;
}

#nav3 {
  display: inline;
  position: absolute;
  left: 7rem;
}
#nav1{
  z-index: 1;
  position: relative;
}

nav {
  margin-right: 40rem;
}

.dropdown-box {
  margin-top: 1rem;
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
  background-color: #fff;
  padding: 5px 80px 5px 0px;
  box-shadow: 10px 8px 7px 1px rgba(0, 0, 53, 0.25);
  animation: dropdown-slidedown 0.4s ease-in-out;
  border: 1px rgba(0, 0, 0, 0.096) solid;
  z-index: 2;
  border-radius: 1rem;
}
.userDropdown {
  margin-top: 4rem;
  display: inline-block;
  position: absolute;
  height: 0%;
  left: 0;
  width: 135px;
  background-color: #fff;
  padding: 20rem 4.5rem 5px 0px;
  box-shadow: 10px 8px 7px 1px rgba(0, 0, 53, 0.25);
  animation: dropdown-slidedown 0.4s ease-in-out;
  border: 1px rgba(0, 0, 0, 0.096) solid;
  z-index: 2;
  border-radius: 1rem;
  pointer-events: none;
}
.userDropdown form {
  pointer-events: auto;
}
.loginForm{
  position: absolute;
  bottom: 11.7rem;
}

.loginForm input{
  transition: all 0.3s ease-in-out;
  background-color: rgb(231, 231, 231);
  display: block;
  padding: 0.4rem;
  border: none;
  width: 92%;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  outline: none;
  border: 1px rgba(0, 255, 255, 0) solid;
}
.userDropdown h5{
  pointer-events: auto;
}

.loginForm input:focus{
  border: 1px var(--aplared) solid;
  border-radius: 0.5rem;
  background-color: rgb(196, 196, 196);
  color: white;
}

.login_btn {
  position: absolute;
  font-size: 18px;
  font-weight: 500;
  padding: 0.2rem 0.4rem 0.4rem 0.2rem;
  top: 9rem;
  left:3.5rem;
  width: 50%;
  background-color: black;
  color: white;
  border-radius: 7%;
  transition: all 0.4s ease;
  cursor: pointer;
}

.login_btn:hover {
  background-color: rgb(85, 85, 85);
}

.loginhr{
  width: 150%;
  position: relative;
  bottom: 6.5rem;
}

.loginh5{
  position: relative;
  bottom: 6rem;
  left: 2.2rem;
}

@keyframes dropdown-slidedown {
  from {
    opacity: 0;
    transform: translateY(-200px);
  }
  to {
    opacity: 100;
    transform: translateY(0px);
  }
}

/* Responsive Styles */

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    margin-top: 1.5rem;
  }

  #nav1{
    z-index: 1;
    position: absolute;
    right: 10rem;
  }

  nav{
    margin-left: 14rem;
    }
  .header li {
    display: block;
    margin: 0.5rem;
    transform: none;
  }
  #nav1 li{
    color: white;
  }
  #nav2,
  #nav3 {
    display: none;
  }
  .dropdown-box{
    background-color: var(--aplared);
    width: 210px;
    }
    .header li:hover {
      border: 1px rgb(255, 255, 255) solid;
      transition: 0.34s ease-in-out;
  }
}

@media (max-width: 576px) {
  .header li {
    font-size: 0.9rem;
  }
}

/* Add more media queries as needed for different screen sizes */
