@import url('https://fonts.googleapis.com/css?family=Google+Sans');

*{
  font-family: 'Google Sans';
}

:root {
  --aplared: rgb(255, 155, 155);
}

.navbar-toggler {
  transition: transform 0.5s ease;
}

.navbar-toggler.collapsed {
  transform: rotate(0deg);
}

.collapse.navbar-collapse {
  transition: max-height 0.8s ease, opacity 0.8s ease;
}

.dropdown-menu {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.8s ease, opacity 0.8s ease;
  padding: 0 !important; /* Remove padding with !important */
}

.dropdown-menu.show {
  max-height: 500px;
  opacity: 1;
  padding: 0 !important; /* Remove padding with !important */
}

.navbar-brand {
  padding-left: 4rem;
  margin-right: 5rem;
}

.nav-comp {
  transition: background-color 0.4s ease-in-out;
  padding-left: 1rem;
  padding-right: 1rem;
}

.nav-comp:hover {
  background-color: rgb(255, 155, 155);
  border-radius: 10px; /* Set the border radius to 50% for a circular shape */
  transition: background-color 0.4s ease, border-radius 0.4s ease; /* Apply the same ease transition to both properties */
}

.nav-bar-all {
  font-family: 'Google Sans', sans-serif;
  padding-top: 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 10px;
}

.nav-drops {
  margin-left: 0rem;
}

.nav-p {
  
}

.nav-homya{
  padding-right: 1rem;
  padding-left: 1rem;
}

.nav-padding{
  padding-left: 4rem;
  padding-right: 4rem;
}



