
  .userDropdown {
    margin-top: 4rem;
    display: inline-block;
    position: absolute;
    height: auto;
    right: 1;
    width: auto;
    background-color: #fff;
    padding: 20rem 4.5rem 5px 0px;
    box-shadow: 10px 8px 7px 1px rgba(0, 0, 53, 0.25);
    animation: dropdown-slidedown 0.4s ease-in-out;
    border: 1px rgba(0, 0, 0, 0.096) solid;
    border-radius: 1rem;
    pointer-events: none;
  }
  .userDropdown form {
    pointer-events: auto;
  }
  .loginForm{
    position: absolute;
    top: 2rem;
  }
  
  .nav-link:hover {
    border: 1px solid var(--aplared);
    border-radius: 10px; 
  }

  .loginForm input{
    transition: all 0.3s ease-in-out;
    background-color: rgb(231, 231, 231);
    display: block;
    padding: 0.4rem;
    width: 90%;
    margin-left: 0.75rem;
    margin-top: 0.5rem;
    outline: none;
    border: 1px rgba(0, 255, 255, 0) solid;
  }
  .userDropdown h5{
    pointer-events: auto;
  }
  
  .loginForm input:focus{
    border: 1px var(--aplared) solid;
    border-radius: 0.5rem;
    background-color: rgb(196, 196, 196);
    color: white;
  }
  
  .login_btn {
    position: relative;
    bottom: 0;
    height: auto;
    font-size: 18px;
    font-weight: 500;
    padding: 0.4em 1rem 0.4rem 1rem;
    left:5.5rem;
    width: auto;
    background-color: black;
    color: white;
    border-radius: 7%;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
  }
  
  .login_btn:hover {
    background-color: rgb(85, 85, 85);
    transform: scale(1.01);
  }
  
  .loginhr{
    width: 100%;
    position: absolute;
    bottom: 5.5rem;
  }
  
  .loginLink {
    text-decoration: none;
    color: red;
    position: relative;
    bottom: 1rem;
    left: 2.3rem;
    z-index: 1;
    pointer-events: all;
  }
  