.custom-btn {
    width: 130px;
    padding: 1rem;
    border: 2px solid #000;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    color: black;
    text-align: center;
    font-weight: 800;
    font-size: 15px;
  }

.btn-15:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
     background: #ff000033;
    transition: all 0.3s ease;
    color: black;
  }
  .btn-15:hover {
    color: #000;
    scale: 1.1;
  }
  .btn-15:hover:after {
    left: 0;
    width: 100%;
    color: black;
  }
  .btn-15:active {
    top: 2px;
    color: black;
  }
  
.page-loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 9999;
} 

.loading-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  font-size: 24px;
  color: #555;
}

.page-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 9999;
}

.spinner {
  width: 157px;
  height: 10px;
  border: 1px solid rgba(56, 56, 56, 0.14);
  border-radius: 5px;
  overflow: hidden;
  transform: scale(1.5);
}

.spinner::before {
  content: "";
  display: block;
  width: 0%;
  height: 100%;
  background-color: var(--aplared);
  animation: fill 1s forwards;
}

@keyframes fill {
  0% {
    width: 0%;
  }

  50% {
    width: 25%;
  }

  75%{
      width: 30%;
  }

  100% {
    width: 100%;
  }
}

.disc-head{
    font-size: 40px;
    font-weight: 600;  
    align-self: center;
    margin: 20px; 
    margin-left: 10%;
}

.main_div {
    width: 100%;
    margin-top: 20px;
}

.carousel-div {
    width: 80%;
    max-height: 300px;
    margin: auto;
}
.eachDiv {
    width: 90%;
    height: 500px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-evenly;
    margin: auto;
    border: 1px solid black;
    border-radius: 10px;
}

.p-Price{
    font-size: 20px;
    font-weight: 600;
    text-decoration: line-through;
    color: rgb(118, 3, 3);
}
.p-Disc{
    font-size: 30px;
    font-weight: 600;
    color: rgb(3, 118, 3);
}
.imageparent {
    width: 500px;
    height: 400px;
    margin: auto;
    overflow: hidden; 
}

.imageparent img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.carosalText{
    width: 40%;
}
.p-Title{
    font-size: 40px;
    font-weight: 600;
}

.Footer-div{
    margin-top: 100px;
}

.benefits-section {
    padding: 50px 0;
    margin-top: 3rem;
    background-color: #f8f8f8;
    text-align: center;
  }
  
  .benefit-card {
    display: inline-block;
    width: 30%;
    margin: 0 1%;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .benefit-icon {
    font-size: 30px;
    color: #4285f4;
    margin-bottom: 15px;
  }
  
  .benefit-text h3 {
    margin-top: 0;
    font-size: 18px;
  }
  
  .benefit-text p {
    font-size: 14px;
    color: #777;
  }
  
  /* Adjust these styles as needed for responsiveness */
  @media (max-width: 768px) {
    .benefit-card {
      width: 100%;
      margin: 0 0 20px;
    }
  }

/* Category Section */
.category-section {
    padding: 2rem 0px;
    text-align: center;
    width: 60%;
    margin: auto;
  }
  
  .section-heading {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .category-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    gap: 3.5rem;
  }
  
  .category-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    text-align: center;
    height: 100%;
  }
  
  .category-card:hover {
    transform: translateY(-5px);
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.2);
  }
  
  .category-image {
    max-width: 100%;
    height: auto;
    margin: 0 auto 15px;
    border-radius: 5px;
  }
  
  .category-title {
    margin: 0;
    font-size: 18px;
    color: #333;
    font-weight: 900;
  }
  
