/* Default styles for all screens */
.img_main {
    z-index: -1;
    width: 53%;
    height: 100%;
    position: absolute;
    display: inline-block;
    left: 56.465rem;
    bottom: 0.6rem;
  }
  
  .main_name {
}
.main_name{
    z-index: -1;
    position: relative;
    margin-left: 8.2rem;
    margin-top: 10rem;
    font-size: 3rem;
  }
  
  .subhead_name {
    margin-left: 8.2rem;
    font-size: 20px;
    margin-bottom: 5rem;
    font-weight: 500;
  }
  
  .home_btn {
    position: relative;
    margin-left: 8.2rem;
    font-size: 25px;
    font-weight: 500;
    padding: 1rem 1.6rem 1rem 2rem;
    width: 6.5%;
    background-color: black;
    color: white;
    border-radius: 7%;
    box-shadow: 10px 8px 7px 1px rgba(0, 0, 53, 0.25);
    transition: all 0.4s ease;
    cursor: pointer;
    transform: scale(1);
  }
  
  .home_btn:hover {
    transform: scale(1.07);
  }
  
  .home_btn:active {
    background-color: rgb(109, 109, 109);
  }
  
  /* Media queries for responsive adjustments */
  
  /* Styles for screens with a maximum width of 768px */
  @media (max-width: 768px) {
    .img_main {
      width: 100%;
      left: 0;
      bottom: 0;
      margin: 0 auto;
    }
  
    .main_name,
    .subhead_name,
    .home_btn {
      margin-left: 10rem;
      text-align: center;
    }

    .img_main {
        z-index: -1;
        width: 100%;
        height: 90%;
        margin-left: 0rem;
        margin-bottom: 7rem;
    }
    
    
    .main_name {
        font-size: 4rem;
        margin-top: 14rem;
        margin-right: 10rem;
        z-index: 0;
        color: white;
        text-shadow: 2px 2px 8px #00000054;
    }
  
    .subhead_name {
        margin-bottom: 3rem;
        margin-right: 10rem;
        color: white;
        text-shadow: 2px 2px 8px #00000054;
    }
  
    .home_btn {
        width: 20%;
        margin-left: 18.5rem;
        padding: 15px 15px 15px 15px;
        border-radius: 1rem;
        background-color: rgb(51, 51, 51);
    }
  }
  