.progress-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: auto;
    margin-top:3%;
}

.progress-circle {
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #fff;
    font-size: 16px;
    margin: auto;
    z-index: 1;
    transition: all 0.4s ease-in-out;
}

.progress-circle:hover {
    background-color: #005fc488;
}

.progress-circle.active {
    background-color: #005fc4;
    transform: scale(1.1);
}

.progress-line {
    position: absolute;
    left: 0;
    height: 2px;
    background-color: #007bff;
    z-index: 0;
    transition: all 0.5s ease-in-out;
}

.amazon-form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.buttonsoforder:last-child {
    background-color: #007bff;
}
.buttonsoforders:last-child{
    background-color: #ff9900;
}

.buttonsoforder:hover {
    background-color: #004997;
    transform: scale(1.05);
    box-shadow: #004997 6px 6px 10px 0px;
}

.buttonsoforders:hover {
    background-color: #ff9900;
    transform: scale(1.05);
    box-shadow: #b97001 6px 6px 10px 0px;
}

.stage-container{
    width: auto;
    margin: auto;
    position: absolute;
    left: 42%;
    top:30%;
    justify-content: center;
    align-items: center;
}

.buttonsoforders{
    background-color: #ff9900;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    left:40%;
    margin-right: 2rem;
    transition: all 0.2s ease-in-out;
    box-shadow: #0049976e 6px 6px 10px 0px;
}

.buttonsoforder  {
    background-color: #ff9900;
    color: #fff;
    font-size: 20px;
    border: none;
    left:52%;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: #0049976e 6px 6px 10px 0px;
}

.dropdownState {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    transition: all 0.2s ease-in-out;
    border-radius: 0.2rem;
  }
  
  .order-container{
    width: 100%;
  }

  /* materialui from codepen */
  .pure-material-radio > input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    z-index: -1;
    position: absolute;
    left: -10px;
    top: -6px;
    display: block;
    margin: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
    outline: none;
    opacity: 0;
    transform: scale(1);
    pointer-events: none;
    transition: opacity 0.3s, transform 0.2s;
}

/* Span */
.pure-material-radio > span {
    display: inline-block;
    width: 100%;
    cursor: pointer;
}

/* Circle */
.pure-material-radio > span::before {
    content: "";
    display: inline-block;
    box-sizing: border-box;
    margin: 2px 10px 2px 0;
    border: solid 2px; /* Safari */
    border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    vertical-align: top;
    transition: border-color 0.2s;
}

/* Check */
.pure-material-radio > span::after {
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    left: 0;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
    transform: translate(5px, 5px) scale(0);
    transition: transform 0.2s;
}

/* Checked */
.pure-material-radio > input:checked {
    background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
}

.pure-material-radio > input:checked + span::before {
    border-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
}

.pure-material-radio > input:checked + span::after {
    transform: translate(5px, 5px) scale(1);
}

/* Hover, Focus */
.pure-material-radio:hover > input {
    opacity: 0.04;
}

.pure-material-radio > input:focus {
    opacity: 0.12;
}

.pure-material-radio:hover > input:focus {
    opacity: 0.16;
}

/* Active */
.pure-material-radio > input:active {
    opacity: 1;
    transform: scale(0);
    transition: transform 0s, opacity 0s;
}

.pure-material-radio > input:active + span::before {
    border-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
}

/* Disabled */
.pure-material-radio > input:disabled {
    opacity: 0;
}

.pure-material-radio > input:disabled + span {
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
    cursor: initial;
}

.pure-material-radio > input:disabled + span::before {
    border-color: currentColor;
}

.pure-material-radio > input:disabled + span::after {
    background-color: currentColor;
}

.pure-material-radio {
    z-index: 0;
    position: relative;
    display: inline-block;
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
    font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
    font-size: 20px;
    line-height: 1.3;
}