.progress-container {
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: center;
    position: relative;
    width: auto;
    top: 4rem;
}

.progress-circle {
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #fff;
    font-size: 16px;
    margin: auto;
    z-index: 2;
    transition: all 0.4s ease-in-out;
}

.progress-circle:hover {
    background-color: #005fc488;
}

.progress-circle.active {
    background-color: #005fc4;
    transform: scale(1.1);
}

.progress-line {
    position: absolute;
    top: 50%;
    left: 15rem;
    right: 0;
    height: 2px;
    background-color: #007bff;
    z-index: 1;
    transition: all 0.5s ease-in-out;
}

.amazon-form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.buttonsoforder  {
    position: absolute;
    left:33rem;
    padding: 10px 15px;
    background-color: #ff9900;
    color: #fff;
    font-size: 20px;
    width: 10%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: #0049976e 6px 6px 10px 0px;
}

.buttonsoforder:last-child {
    background-color: #007bff;
}
.buttonsoforders:last-child{
    background-color: #ff9900;
}

.buttonsoforder:hover {
    background-color: #004997;
    transform: scale(1.05);
    box-shadow: #004997 6px 6px 10px 0px;
}

.buttonsoforders:hover {
    background-color: #ff9900;
    transform: scale(1.05);
    box-shadow: #b97001 6px 6px 10px 0px;
}

.stage-container{
    width: 50%;
    position: relative;
    align-items: center;
    left: 30.1rem;
    top: 10rem;
}

.buttonsoforders{
    position: absolute;
    left:21rem;
    padding: 10px 15px;
    background-color: #ff9900;
    color: #fff;
    font-size: 20px;
    width: 10%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: #0049976e 6px 6px 10px 0px;
}

.dropdownState {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    transition: all 0.2s ease-in-out;
    border-radius: 0.2rem;
  }
  