.wrapper{
  height: 100vh;
}

.about-page {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 80%;
  margin: 0 auto;
  margin-top: 5rem;
}

.about-content,
.contact-form {
  padding: 20px;
}

.contact-heading,
.form-heading {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 1rem;
}
.para {
  font-size: 18px;
  margin-bottom: 1rem;
}

.form-heading {
  font-size: 32px;
}

.formo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.labelo {
  margin-top: 10px;
}

.inputo,
.texto {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
}

/* Media queries for responsiveness */
@media screen and (min-width: 768px) {
  .about-page {
      flex-direction: row;
  }
  .about-content,
  .contact-form {
      padding: 40px;
  }
  .contact-heading,
  .form-heading,
  .para {
    font-size: 25px;
    margin-bottom: 1rem;
  }
  .form-heading {
      font-size: 40px;
  }
}
.FooterDiv{
  margin-top: 130px;
}