/* OrderPage.css */

.order-page {
  padding: 20px;
  width: 100%; /* Use full width for smaller screens */
  max-width: 1280px; /* Add a max-width to avoid excessive stretching */
  margin: 0 auto; /* Center the content horizontally */
}
  .order-heading {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 25px;
  }
  
  .order-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1000px, 1fr));
    gap: 20px;
  }
  
  .order-card {
    border: 1px solid #e0e0e0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    cursor: pointer;
  }
  
  .order-card:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .order-details {
    margin-bottom: 10px;
  }
  
  .order-id {
    font-weight: bold;
    font-size: 1.2rem;
    color: #333;
  }
  
  .total-price {
    color: #e47911;
    font-weight: bold;
    
  }
  
  .payment-method{
    font-size: 1.2rem;
    font-weight: bold;
    color: #666;
  }
  
  .order-status {
    text-align: right;
    color: #007600;
    font-weight: bold;
  }
  
  .details-summary {
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .details-summary:focus {
    outline: none;
  }
  
  .product-list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 10px;
  }
  
  .product-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
  }
  
  .product-image {
    width: 80px;
    margin-right: 10px;
  }
  
  .product-title {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .product-price {
    color: #e47911;
  }
  
  .product-quantity {
    color: #666;
  }

  details {
    margin-bottom: 20px;
}

details, summary {
    &:focus {
        outline: none;
    }
}

summary {
    cursor: pointer;
  font-weight: bold;
  list-style-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/right-arrow.svg);
}
summary::-webkit-details-marker {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/right-arrow.svg);
  color: transparent;
}

details[open] summary ~ * {
  animation: sweep .5s ease-in-out;
}


@keyframes sweep {
  0%    {opacity: 0; margin-left: 10px}
  100%  {opacity: 1; margin-left: 18px}
}

.order_date{
  margin-left: 61rem;
  margin-top: -2.4rem;
  font-size: 1.2rem;
}

.total-price{
  font-size: 1.2rem;
}

.view-items{
  font-size: 1.2rem;

}

.prod_title{
  position: relative;
  top: -9rem;
  margin-left: 15rem;
  margin-top: -2rem;
  height: 2rem;
  font-size: 1.4rem;
  font-weight: bold;
}

.prod_price{
  position: relative;
  top: -6rem;
  margin-left: 60rem;
  font-size: 1.2rem;
  font-weight: 400;
}

.prod_quantity{
  position: relative;
  top: -6rem;
  margin-left: 60rem;
  font-size: 1.2rem;
  font-weight: 400;
}

.total-price-drop{
  margin-left: 62rem;
  font-size: 1.3rem;
}

li{
  list-style-type: none;
}

:root {
  --bg: #fff;
  --text: #382b22;
  --light-pink: #fff0f0;
  --pink: #ffe9e9;
  --dark-pink: #f9c4d2;
  --pink-border: #b18597;
  --pink-shadow: #ffe3e2;
}


details {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
}

details.learn-more {
  font-weight: 600;
  color: var(--text);
  text-transform: uppercase;
  padding: 1.25em 2em;
  background: var(--light-pink);
  border: 2px solid var(--pink-border);
  border-radius: 0.75em;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1);
}

details.learn-more::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1);
}

details.learn-more:hover {
  background: var(--pink);
  transform: translate(0, 0.25em);
}

details.learn-more:hover::before {
  transform: translate3d(0, 0.5em, -1em);
}

details.learn-more:active {
  background: var(--pink);
  transform: translate(0em, 0.75em);
}

details.learn-more:active::before {
  transform: translate3d(0, 0, -1em);
}


@media (max-width: 768px) {

  .order-heading {
      font-size: 30px;
      margin-bottom: 20px;
  }

  .order-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 10px;
  }

  .order-card {
      padding: 15px;
  }
}

@media (max-width: 480px) {

  .order-heading {
      font-size: 25px;
      margin-bottom: 15px;
  }

  .order-card {
      padding: 10px;
  }

  .order_date,
  .total-price,
  .view-items,
  .prod_title,
  .prod_price,
  .prod_quantity,
  .total-price-drop {
      font-size: 1rem;
      margin-left: 0;
      margin-top: 0; 
  }

}